# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# CMake related
**/CMakeFiles/*
**/_deps/*
**/CMakeCache.txt
**/Makefile
*.cmake
*.findOrBuildEnvironnement
*.marks
*.pc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE related

.vscode
.idea

# Common CMake build directories

build
debug
Debug
release
Release
interface/interface_c
